/* HTML Elements */
body {
    font-family: "Markazi Text", serif;
    margin: 2rem 0 0;
    background-color: #fbbe36;
}

.bg {
    margin: 0 15%;
}

.bg_color {
    background-color: #fff4e2;
}


h2 {
    font-size: 32px;
}

p {
    font-size: 20px;
    line-height: 24px;
}

header {
    background-color: #e7272d;
    padding: 2rem 1rem 0.5rem 1rem;
    border-radius: 0 0 16px 16px;
    margin-top: -55px;
}

header div>img {
    width: 4rem;
}

article {
    padding: 80px 32px;
}

/* NAVIGATION SECTION */
.header_nav {
    display: flex;
}

.nav_bg {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fbbe36;
    padding: 1rem;
    z-index: 99999;
}

.nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


nav {
    margin: 0 5rem;
}

.nav a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    margin: 0 .3rem;
}

.nav a:hover {
    color: #e7272d;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

.main_button {
    background-color: #e7272d;
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid #e7272d;
    color: white;
    font-size: .9rem;
    font-weight: bold;
}

.main_button:hover {
    background-color: white;
    color: #e7272d;
    border: 2px solid #e7272d;
}

.main_button_inverse {
    background-color: #ffffff;
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid #e7272d;
    color: #e7272d;
    font-size: .9rem;
    font-weight: bold;
}

.main_button_inverse:hover {
    background-color: #e7272d;
    color: #ffffff;
    border: 2px solid #e7272d;
}

.cart {
    width: 21px;
    margin-left: 1rem;
}

.modal {
    z-index: 100000;
}

/* FIXED BUTTON */
.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;/ outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 5px 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

.myBtn:hover {
    background-color: #fbbe36;
    /* Add a dark-grey background on hover */
}

/* HERO SECTION */
.hero_section_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_sub {
    color: #e7272d;
    font-weight: bold;
    font-size: 32px;
}

.hero_heading {
    font-size: 6rem;
    font-weight: 900;
    line-height: 72px;
    margin-top: 1rem;
}

.hero_img {
    display: grid;
    margin: auto;
    width: 120%;
}

.hero_box_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_box_item span {
    padding-right: 0.3rem;
}

.hero_box_item p {
    padding: 0 2rem 0 0;
}

.hero_box {
    display: flex;
    justify-content: space-around;
    background-color: #e7272d;
    border-radius: 16px;
    padding: 48px 16px;
    /* margin: -160px 0 0 0; */
}

.hero_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
}

.hero_price h5 {
    border-radius: .5rem;
    font-size: .8rem;
    color: #e7272d;
}

/* WELCOME SECTION */
.about_us_main {
    font-weight: 700;
    font-size: 5rem;
    line-height: 4.5rem;
    padding-bottom: 1.5rem;
}

.about_us_img {
    width: 32rem;
    display: grid;
    margin: auto;
}

.about_us_info {
    margin-top: 7rem;
    text-align: right;
}

/* SPECIAL COMBO SECTION */
.s_combo {
    background-color: rgba(255, 244, 226, 1);
}

.combos {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4rem;
}

.combo_card {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-style: dotted;
    border-radius: 2rem;
    padding: 2.5rem 1rem 1rem;
    margin: 0 0.5rem;
}

.combo_card:hover {
    background-color: #e7272d;
    /* transform: scale(1.05); */
    transform: translateY(-15px);
    transition: transform 0.3s;
    border: #e7272d;
    color: white;
}

.combo_card img {
    width: 12rem;
    margin-top: 2rem;
}

.combo_heading {
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 900;
}

.combo_price {
    font-weight: bold;
    margin-top: 1rem;
}

.combo_button {
    background-color: rgba(255, 244, 226, 1);
    padding: 0.4rem 2rem;
    border-radius: 1.5rem;
    border: 2px solid rgba(231, 39, 45, 0.15);
    border-style: dashed;
    color: #e7272d;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.combo_button:hover {
    background-color: #fbbe36;
    color: black;
    border: 2px solid #fbbe36;
}

/* MENU SECTION */
.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(231, 39, 45, 0.1) !important;
    border-radius: 1rem;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-title span {
    bottom: 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    font-size: 1.4rem;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked+.accordion-title+.accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */
.accordion {
    border-color: #dedede;
    border-radius: 5px;
    border-style: solid;
    border-width: 0;
    flex-direction: column;
    height: auto;
}

.accordion-title,
.accordion-select {
    background-color: #ffffff;
    color: #e7272d;
    font-size: 2.5rem;
    font-weight: bolder;
    width: 100%;
    height: 64px;
}

.accordion-select {
    margin-bottom: -64px;
    margin-right: -64px;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: rgb(234, 234, 234);
    border-right-color: transparent;
}

.accordion-select:hover+.accordion-title,
.accordion-select:checked+.accordion-title {
    background-color: #ffffff;
}

.accordion-title span {
    transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 4rem;
}

.accordion-content {
    background-color: #e7272d;
    color: #ffffff;
    border-radius: 1rem;
    height: 500px;
    margin-bottom: -500px;
    margin-right: 0;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.menu_box {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.menu_items h5 {
    background-color: #ffffff;
    border-radius: 0.7rem;
    width: 23%;
    padding: 0.3rem;
    color: #e7272d;
    font-size: 0.7rem;
    font-weight: bolder;
    text-align: center;
}

.menu_food {
    display: flex;
}

.menu_items a {
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    color: #fbbe36;
}

.menu_items h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.menu_items p {
    font-size: 1rem;
    width: 80%;
}

/* CART SECTION */
.order_button {
    font-size: 1rem;
}

.cart_button {
    background-color: inherit;
    border: none;
    text-align: center;
    font-size: 1.5rem;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}


.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.3em;
}

/* DELIVERY SECTION */
#delivery {
    background-color: #fff4e2;
}

.delivery_main {
    text-align: left;
    padding: 0;
}

.delivery_img {
    text-align: center;
    margin: 0;
}

.delivery_img_main {
    padding-top: 5rem;
    margin-left: 1rem;
    width: 20rem;
}

.delivery_img_main:hover {
    transform: translateX(-40px);
    transition: transform 3s;
}

.reward {
    text-align: right;
}

/* TESTIMONIAL SECTION */
#testimonial {
    background-color: #ffffff;
}

.testimonial {
    display: flex;
    height: 60vh;
}

.testimonial_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%vh;
}

.testimonial_img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
}

/* .testimonial_info {
  padding-left: 5rem;
  margin: auto;
  width: 40%;
} */
.testimonial_info img {
    width: 25%;
}

/* FOOD GALLERY SECTION */
.gallery_img {
    display: flex;
}

.gallery_img_main {
    padding: 1rem 1rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
}

/* CONTACT US section */
.contact_name input,
textarea {
    border: 1px solid rgba(231, 39, 45, 0.5);
    border-style: none none solid;
    width: 100%;
}

input:focus {
    border: 2px solid rgba(231, 39, 45, 1);
    border-style: none none solid;
}

form {
    font-size: 1.4rem;
}

.social {
    display: flex;
}

.social i {
    padding-right: 1rem;
}

.social a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.social a:hover {
    color: #fbbe36;
}

.contact_main {
    padding-top: 4rem;
}

.contact_address {
    background-color: #e7272d;
    border-radius: 1rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_info {
    padding: 3rem 2rem;
}

.contact_details {
    padding-top: 1.5rem;
}

.contact_details span {
    padding-right: 1rem;
}

.contact_help {
    padding-top: 1rem;
}

.contact_des {
    display: flex;
    padding-bottom: 2rem;
}

.contact_mail input {
    margin: .5rem 0 1.5rem;
}

.contact_des input {
    margin: 0 0.5rem;
}

.contact_des label {
    margin-right: 1.5rem;
}

.form_button {
    padding-top: 3rem;
    padding-bottom: 0;
    text-align: right;
}

/* RESERVATION SECTION */
.reservation {
    padding-top: 4rem;
}

.reservation_form {
    padding-top: 2rem;
}

.reservation_form form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #e7272d;
    border-radius: 2rem;
    width: 80%;
    margin: 0 auto;
}

.form_item input {
    border: 1px solid rgba(231, 39, 45, 1);
    border-style: none none solid;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

.sign_section {
    margin-top: 4rem;
}

/* FOOTER SECTION */
.footer_section {
    display: block;
}

.footer_section i {
    padding-right: 0.5rem;
}

.footer_section_main {
    padding-right: 1rem;
}

.footer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.footer a:hover {
    color: #e7272d;
}

footer div>img {
    width: 4rem;
}

.copyright {
    padding-top: 3rem;
}

@media only screen and (max-width: 600px) {
    .bg {
        margin: 0;
    }

    .about_us {
        display: block;
        margin: 0 0;
    }

    .about_us_img {
        width: 20rem;
    }

    .about_us_info {
        text-align: center;
    }

    .about_us h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .hero_section {
        margin: 0;
        display: block;
    }

    .hero_section_main {
        display: block;
        text-align: center;
        margin-bottom: 0;
    }

    .hero_sub {
        font-size: 1rem;
    }

    .hero_heading {
        font-size: 3rem;
        line-height: 2rem;
    }

    .hero_img {
        width: 100%;
    }

    .hero_box {
        margin: 0;
        display: block;
    }

    .hero_box_item {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    /* .nav {
    margin: 0;
  } */
    /* .order {
        display: none;
    } */

    .combos {
        display: block;
    }

    /* .special_combo {
    margin: 0;
  } */
    .combo_heading {
        font-size: 2.5rem;
    }

    .combo_card {
        margin-top: 1rem;
    }

    /* .menu {
    margin: 0;
  } */
    .accordion-content {
        display: block;
        text-align: center;
        padding: 2rem 0.2rem;
    }

    .menu_food {
        display: flex;
        flex-direction: column;
    }

    .menu_items {
        text-align: center;
    }

    .menu_items p {
        width: 95%;
        margin: auto;
    }

    .menu_items h4 {
        width: 80%;
        margin: auto;
    }

    .menu_items h5 {
        width: 50%;
        margin: 0.5rem auto;
    }

    .menu_price {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 1rem;
    }

    /* .delivery {
    display: block;
    margin: 0;
  } */
    .delivery_main {
        text-align: center;
        padding: 0;
    }

    .reward {
        text-align: center;
        padding: 1.5rem 0 0;
    }

    .delivery_img {
        margin: 0;
    }

    .delivery_img_main {
        position: inherit;
        width: 15rem;
        padding: 3rem 0;
    }

    .testimonial {
        margin: 0;
        height: 70vh;
    }

    .testimonial_main {
        display: block;
    }

    .testimonial_info {
        padding: 1rem 0;
        text-align: center;
        width: 100%;
    }

    .testimonial_img {
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
    }

    .testimonial_info img {
        width: 10%;
    }

    .t_img {
        display: grid;
        margin: 0 auto;
    }

    .contact_des {
        display: block;
    }

    .reservation_form form {
        display: block;
        width: 100%;
    }

    .form_item {
        padding-bottom: 1.5rem;
    }

    .footer_section_main {
        padding-top: 1.5rem;
        text-align: center;
    }

    .footer_box {
        display: block;
    }
}



.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #ff0000;
    border-radius: 1.5rem;
    border: 2px solid #e7272d;
    color: #e7272d;
    font-size: .9rem;
    font-weight: bold;
}

.dropdown-content a {
    font-size: 14px;
    color: rgb(255, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 5px;
    background-color: #ffffff;
    color: #f90000;
    border: 2px solid #ffffff;
}

.dropdown:hover .dropbtn {
    background-color: gray;
}

.dropbtn {
    position: relative;
    float: right;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #ff0000;
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid #e7272d;
    color: #ff0000;
    font-size: .9rem;
    font-weight: bold;

}